#sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24292e;
    color: #ffffff;
    padding: 5em 0em 7em;
}

#sign-in>h1 {
    width: 80%;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 1em;
}

#footer-form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em 0em;
}

#footer-form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#footer-form label {
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 0.5em;
}

#footer-form input {
    font-size: 1.2em;
    padding: 0.8em;
    color: #9fa2a5;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
}

#footer-form>button {
    background-color: #2ebc4f;
    border: none;
    border-radius: 4px;
    color: #f6fcf7;
    padding: 0.8em 3.5em;
    font-size: 1.2em;
    align-self: flex-end;
}

#sign-in>p {
    width: 70%;
    font-size: 0.9em;
    color: #9fa2a5;
    margin-bottom: 2em;
}

#sign-in>p>a {
    color: #ffffff;
}