#businesses, #community {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 0em 8em;
}

#community {
    margin-bottom: 2em !important;
}